/* CSS Document */
*
	{
		font-family: 'Roboto', sans-serif;
		font-weight:200;
		text-shadow:none;	
	}
	body,html
	{
		margin:0px;
		padding:0px;
		height:100%;	
		width:100%;
	}
	#maincont
	{
		height:100%;
		width:100%;	
		color:#FFF;
		padding-top:0px;
		margin-top:0px;	
		position:relative;
		overflow-x: hidden;	
		overflow-y: hidden;
		background-color:#e5e5e5;
		
	}
	#brandingBar
	{
		width:100%;
		height:40px;
		line-height:40px;
		font-size:30px;
		/*background-color:#4B0082;*/
		background-color:#196A9F;
		color:#FFF;	
		text-align:center;
		position:fixed;
		top:0px;
		z-index:99999;

	}
	#scrollableContent
	{
		position:absolute;
		/*padding:20px;*/
		/*padding-top:55px;*/
		top:55px;
		left:0;
		overflow-y: scroll;
		overflow-x: hidden;	
		z-index:44444;
		background-color:#EEE;
		width:100%;
		height:100%;
		color:#000;
	}
	#placeDetails
	{
		position:absolute;
		top:55px;
		left:100%;
		overflow-y: scroll;
		overflow-x: hidden;
		z-index:44444;
		background-color:#EEE;
		
		width:100%;
		color:#000;
	}
	#scrollableContent2
	{
		position:relative;
		/*padding:20px;*/
		padding-top:55px;
		z-index:44444;
		background-color:#EEE;
		
		color:#000;
	}
	div.card
	{
		margin:auto;
		/*margin-top:10px;
		margin-bottom:10px;*/
		width: 97%;
		/*height: 100px;*/
		min-height:125px;
		height:25%;
		margin-top:1%;
		margin-bottom:1%;
		/*background-color: #CCE;*/
		background-color:#FEFEFE;
		color:#000;
		z-index:44445;
		position:relative;
		cursor:pointer;
		/*color:#FFF;*/
		-webkit-box-shadow: 1px 1px 0px 1px rgba(0,0,0,0.16);
	   -moz-box-shadow: 1px 1px 0px 1px rgba(0,0,0,0.16);
	        box-shadow: 1px 1px 0px 1px rgba(0,0,0,0.16);
	}
	.darkcard
	{
		margin:auto;
		/*margin-top:10px;
		margin-bottom:10px;*/
		width: 97%;
		/*height: 100px;*/
		min-height:125px;
		/*height:25%;*/
		margin-top:1%;
		margin-bottom:1%;
		z-index:44445;
		position:relative;
		cursor:pointer;
		background-color:#444444; 
		color:#eee; 
		border-left:3px solid #196a9f;
	}
	div.card_result, div.card_dynamic
	{
		margin:auto;
		margin-top:10px;
		margin-bottom:10px;
		width: 95%;
		background-color: #CCE;
		z-index:44445;
		position:relative;
		cursor:pointer;
	}
	div.card_dynamic
	{
		cursor:auto;	
	}
	div.cardOverlay
	{
		/*padding-left:10px;
		padding-top:5px;*/
		font-size:38px;
		position:absolute;
		bottom:5px;
		right:10px;
	}
	div.card_result_icons
	{
		float:left;	
		margin:15px;
	}
	.leftcard
	{
		float:left;
		position:relative;
		max-width:75%;
	}
	.rightcard
	{
		float:right;
		min-height:120px;
		width:48px;
		position:relative;
		margin-top:10px;
		margin-right:10px;
		
		/*background-image:url(/resources/images/arrow.png);
		background-repeat:no-repeat;
		background-position:center right;*/
	}
	.clear
	{
		clear:both;	
		height:0px;
	}
	#menu
	{
		width:250px;
		height:100%;
		background-color:rgba(47,47,47,.98);
		color:#FFF;
		z-index:55555;
		position:fixed;
		top:40px;
		left:-100%;
		/*overflow-y:;
		overflow-x:hidden;*/
		
	}
	.menusection
	{
		border-top:1px solid #646464;	
	}
	.menubottom
	{
		
		position:absolute;
		bottom:50px;	
		
		width:inherit;
		/*position:relative;*/
		z-index:55556;
	}
	.menuitem
	{
		display:block;
		height:40px;
		line-height:40px;
		font-size:24px;
		/*border-bottom:1px solid #FFF;	*/
		cursor:pointer;
		position:relative;
	}
	.menuitemr
	{
		display:block;
		height:24px;
		line-height:24px;
		font-size:16px;	
		cursor:pointer;
		position:relative;
		color:#777;
		font-weight:300;
		border-top:1px solid #777;
	}
	.storeOpen
	{
		color:#090;
		font-weight:800;
		margin-top:0px;
		margin-bottom:0px;
	}
	address
	{
		color:#CCCCCC;
		font-style:normal;
	}
	table
	{
		border-collapse:collapse;
		border-spacing:10px 50px;
		width:100%;	
	}
	th
	{
		font-weight:500;
	}
	.dth
	{
		opacity:0;	
	}
	tr
	{
		/*outline: thin solid white;*/
		border-bottom:1px solid white;
	}
	/*These next two classes are for the menu button*/
	.border-menu 
	{
  		position: relative;
  		padding-left: 1.25em;
	}
	.border-menu:before 
	{
		  content: "";
		  position: absolute;
		  top: 0.25em;
		  left: 0;
		  width: 1em;
		  height: 0.135em;
		  border-top: 0.4em double #FFF;
		  border-bottom: 0.125em solid #FFF;
	}
	#locationDesc
	{
		/*font-size:15px;*/
		color:#777;
	}
	#fix
	{
		/*height:100px;	*/
		z-index:44444;
		background-color:#EEE;
	}
	#dayDiv
	{
		margin:auto;	
		text-align:center;
		position:relative;
	}
	.day
	{
		display:block;
		text-align:center;
		float:left;
		border:1px solid white;
		width:40px;
		height:40px;
		font-size:28px;
		line-height:40px;
		background-color:#2f2f2f;
		color:#FFFFFF;
	}
	.hours
	{
		opacity:0;
	}
	#searchRegion
	{
		background-color:rgba(47,47,47,.5);
		height:0px;
		padding-left:15px; padding-right:15px;
	}
	#doSearch
	{
		background-color:#196A9F;
		padding:10px;	
		float:left;
		margin-left:5px;
		margin-top:-5px;
		color:#FFFFFF;
	}
	#category
	{
		-webkit-border-radius: .3125em;
		border-radius: .3125em;
		font-size:16px;
	}
	address br
	{
		line-height:0;	
		height:0;
		display:block;
		margin:0px;
		content:" ";
	}
	
	#filters
	{
		height:40px;
		position:relative;
		margin-left:auto;
		margin-right:auto;
		margin-bottom:10px;
		width:97%;
	}
	.filter
	{
		/*margin:auto;*/
		text-align:center;
		font-size:18px;
		/*border:1px solid #e6e6e6;*/
		border:1px solid #606060;
		/*border-top:1px solid #e6e6e6;
		border-bottom:1px solid #e6e6e6;*/
		padding-top:3px;
		padding-bottom:3px;
		padding-left:10px;
		padding-right:10px;
		color:#606060;
		margin:10px;
		float:left;
	}
	.button
	{
		text-align:center;
		font-size:18px;
		border:1px solid #fff;
		padding-top:3px;
		padding-bottom:3px;
		padding-left:10px;
		padding-right:10px;
		color:#fff;
		margin:10px;
		float:left;
	}
	.filterselected
	{
		color:#093;
		font-weight:500;
		border:2px solid #093;
		margin-bottom:8px;
		margin-top:8px;
		margin-right:8px;
		margin-left:8px;
	}
	#placemat
	{
		height:100%;
		position:absolute;	
	}
	.menuicon
	{
		height:40px;
		width:40px;
		float:left;
		background-repeat:no-repeat;
		background-position:center center;
		margin-right:10px;
	}
	label
	{
		margin-bottom:0;	
	}
	